<header class="baslik">
    <div class="row ">

        <div class="col-2 geri">
            <div style="text-align: left;">
                <i class="fas fa-arrow-left"></i>
            </div>
        </div>

        <div class="col-8 dersler" style="text-align:center">
            DERSLER
        </div>

        <div class="col-2 menu">
            <div style="text-align: right;">
            <i class="fas fa-bars"></i>
        </div>

        </div>

    </div>
</header>

    <div  class="row arkaplan">
             
  <div class="row " style="margin-top: 10px;">
      <div class="col-12 mat">         
                  <div style="text-align: left;">
                    <h4>
                        MATEMATİK
                    </h4>
                </div>                                          
          </div>
      </div>

      <div class="row " style="margin-top: 10px;">
      <div class="col-12 turk">
          <i></i>         
              <div style="text-align: left;">
                <h4>
                    TÜRKÇE
                </h4>
            </div>                                                
          </div>
      </div>
    
      <div class="row " style="margin-top: 50px;">
      <div class="col-12 ing">                     
               <div style="text-align: left;">
            </div>
            <h4>
                İNGİLİZCE
            </h4></div>                                   
          </div>     