.titleLessons{
    color: aliceblue;
    font-size: 18px;
    font-style: normal;
    font-family:sans-serif;
    font-weight: normal;
    line-height: 21px;
    padding-top: 10px;

}

.downl{
    color: #9B9191;
}