<div class="stats">
    <div class="bg-stats">
        <div class="row">
            <div class="col-6">
                <div class="math-stats">
                    <i class="fas fa-square-root-alt"></i>
                    <p class="math">Matematik</p>
                </div>
            </div>
            <div class="col-6 text-end">
                <p class="dogru">D:</p><p class="text-white">%{{dogru}}</p> 
                <p class="yanlis">Y:</p><p class="text-white">%{{yanlis}}</p> 
                <p class="net">N:</p><p class="text-white">%{{net}}</p> 
            </div>
        </div>

        <div class="row text-white text-center">
            <div class="col-2">
               <p>%{{ilerleme}}</p> 
            </div>
            <div class="col-10 pt-2">
                <div style="border-bottom: 3px green solid; width: 25%; float: left;"></div>
                <div style="border-bottom: 3px white solid; width: 75%; float: right;"></div>
            </div>
        </div>

    </div>
</div>