<div class="body">

  <div class="row">
    <div class="col-12">
      <div class="circle">
        <div class="user center-white">
          <i *ngIf=pPhoto class="far fa-user"></i>
          <img *ngIf=!pPhoto src="{{picturePath}}" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-6">
      <button class="camera center-white" data-bs-toggle="modal" data-bs-target="#editPhoto">
        <i class="fas fa-camera"></i>
      </button>
    </div>
    <div class="col-6">
      <button class="pen center-white" data-bs-toggle="modal" data-bs-target="#editProfile">
        <i class="fas fa-pen"></i>
      </button>
    </div>

  </div>

  <div class="name">{{name}} - {{surname}}</div>

  <div class="row">

    <div class="col-6 center-white">
      <div class="okul">
        {{school}}
      </div>
    </div>

    <div class="col-6 center-white">
      <div class="sinif">
        {{class}} Sınıf
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <button class="bg stats center-white" [routerLink]="['/website/istatistikler']">
        <i class="fas fa-chart-line"></i>
        İstatistiklerim
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="bg save center-white">
        <i class="far fa-bookmark"></i>
        Kaydettiklerim
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="bg exit center-white" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="fas fa-sign-out-alt"></i>
        Çıkış Yap
      </button>
    </div>
  </div>

</div>



<!-- Modals -->
<div class="modal fade" id="editProfile" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Profil Bilgilerini Düzenle</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-2 text-center">

          <div class="input-group mb-3">
            <span class="input-group-text bg-dark text-white" id="basic-addon1">İsim</span>
            <input type="text" class="form-control bg-dark text-white" [(ngModel)]="name"
              aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text bg-dark text-white" id="basic-addon1">Soyisim</span>
            <input type="text" class="form-control bg-dark text-white" [(ngModel)]="surname"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text bg-dark text-white" id="basic-addon1">Okul</span>
            <input type="text" class="form-control bg-dark text-white" [(ngModel)]="school"
              aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3 bg-dark">
            <span class="input-group-text bg-dark text-white" id="basic-addon1">Sınıf</span>
            <select class="form-select bg-dark text-white" [(ngModel)]="class" aria-label="Default select example">
              <option value="5.">5. Sınıf</option>
              <option value="6.">6. Sınıf</option>
              <option value="7.">7. Sınıf</option>
              <option value="8.">8. Sınıf</option>
              <option value="9.">9. Sınıf</option>
              <option value="10.">10. Sınıf</option>
              <option value="11.">11. Sınıf</option>
              <option value="12.">12. Sınıf</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success" (click)="saveChanges()">Kaydet</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="logoutModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Çıkış Yapılıyor...</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Onaylıyor musunuz ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="logOut()"
          [routerLink]="['/website/giris']">Evet</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Hayır</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPhoto" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Profil Fotoğrafını Düzenle</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input class="form-control" type="file" id="picPath" accept=".jpg, .jpeg, .png, .gif">
        </div>

        <div style="float:left; width: 42%;margin-right: 3%;">
          <hr />
        </div>
        ya da
        <div style="float:right; width: 42%;">
          <hr />
        </div>

        <button style="position: relative; left: calc(50% - 75px);" class="btn btn-primary"
          (click)="takeProfilePhoto()">
          <i class="fas fa-camera"></i>&nbsp;Fotoğrafını Çek
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success" (click)="setProfilePhoto()">Kaydet</button>
      </div>
    </div>
  </div>
</div>
