<div class="body">

    <div class="row">
        <div class="col-6">
            <div class="arrow-left center-white">
                <i class='fas fa-arrow-left'></i>
            </div>
        </div>

        <div class="col-6">
            <div class="bars center-white">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="circle">
                <div class="user center-white">
                    <i class="far fa-user"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="camera center-white">
                <i class="fas fa-camera"></i>
            </div>
        </div>

        <div class="col-6">
            <div class="pen center-white">
                <i class="fas fa-pen"></i>
            </div>
        </div>
    </div>

    <div class="name center-white">Ad - Soyad</div>

    <div class="row">
        <div class="col-6 okulSinif center-white">
            Okulu
        </div>
        <div class="col-6 okulSinif center-white">
            Sınıfı
        </div>

    </div>

    <div class="bg">
        <div class="row">
            <div class="col-4 chart center-white">
                <i class="fas fa-chart-line"></i>
            </div>
            <div class="col-8 stats center-white">
                İstatistiklerim
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="row">
            <div class="col-4 bookmark center-white">
                <i class="far fa-bookmark"></i>
            </div>
            <div class="col-8 save center-white">
                Kaydettiklerim
            </div>
        </div>
    </div>

    <div class="bg">
        <div class="row">
            <div class="col-4 signout center-white">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="col-8 exit center-white">
                Çıkış Yap
            </div>
        </div>
    </div>


</div>