<div class="body">

  <!-- <div class="row">

          <div class="col-6">
            <div class="arrow-left center-white">
              <i class='fas fa-arrow-left'></i>
            </div>
          </div>

          <div class="col-6">
            <div class="bars center-white">
              <i class="fas fa-bars"></i>
            </div>
          </div>

        </div> -->

  <div class="row">

    <div class="col-12">
      <div class="circle">
        <div class="user center-white">
          <i class="far fa-user"></i>
          <!-- <img src="https://netger.net/logo-s.png" alt=""> -->
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-6">

      <button class="camera center-white"><i class="fas fa-camera"></i></button>

    </div>

    <div class="col-6">

      <button class="pen center-white"><i class="fas fa-pen"></i></button>

    </div>

  </div>

  <div class="name">Ad - Soyad</div>

  <div class="row">

    <div class="col-6 center-white">
      <div class="okul">
        Okulu
      </div>
    </div>

    <div class="col-6 center-white">
      <div class="sinif">
        Sınıfı
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <button class="bg stats center-white">
        <i class="fas fa-chart-line"></i>
        İstatistiklerim
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="bg save center-white">
        <i class="far fa-bookmark"></i>
        Kaydettiklerim
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="bg exit center-white">
        <i class="fas fa-sign-out-alt"></i>
        Çıkış Yap
      </button>
    </div>
  </div>

</div>