.userselect button{
    height: 100%;
    width: 100%;
}

i{
    font-size: 24px;
    width: 30px;
    height: 24px;
    margin-right: 3%;
    position: relative;
    padding-right: 6px;

}
img{
    border-radius: 50%;
    left: -42%;
    margin-right: 3%;
    position: relative;
}
span{
    font-size: 16px;

}
.chat{
    margin-top: -16px;

}
.chat2{
    margin-top: -16px;
}
.chat i{
    right: 35%;
}
.chat2 i{
    right: 35%;
}
.chat2 span{
    position: absolute;
    right: 60%;
}
.chat span{
    position: absolute;
    left: 23%;
}
li {
    width: 50%;
}
 .btnUserEdits{
    position: absolute;
    bottom: 32px;
    right: 32px;
    border-radius: 30px;
    height: 7%;
    display: flex;

}
.messageDiv{
  height: 100%;
  width: 100%;
  background-color: white;
}



