.headerow{
    background-color: #2980B9;
}


.fa-bars{
    color: #DAF4C5;
    
}
.userImg{
    width: 70px;
    height: 70px;
    border-radius:  35px;
    background-color: gray;
}
.navmenu button{
    width: 100%;
    height: 46px;
    background-color: #24394E;
    color: #E0D7D7;
    font-size: 20px;
    margin-top: 2px;
}
.navmenu button i{
    position: absolute;
    left: calc(50% - 150px);
    font-size: 34px;
}


