

<div class="Frame">

    <div class="FrameFunc">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-key SifreDegistirIcon positionFunc iconOptions"></i>
            </div>
            <div class="col-8">
                <p class="titleOptions">Şifre Değiştir</p>
            </div>
            <div class="col-2">
                <i class="fas fa-arrow-right arrowOptions positionFunc iconOptions"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="boslukFunc">
            </div>
        </div>
    </div>
    <div class="FrameFunc">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-award positionFunc iconOptions premiumUyelikIcon"></i>
            </div>
            <div class="col-8">
                <p class="titleOptions">Premium Üyelik</p>
            </div>
            <div class="col-2">
                <div class="fas fa-arrow-right arrowOptions positionFunc iconOptions ">
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="boslukFunc">
            </div>
        </div>
    </div>
    <div class="FrameFunc">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-user-friends positionFunc iconOptions" style="color: #16A085;"></i>
            </div>
            <div class="col-8">
                <p class="titleOptions">Arkadaşlarını Davet Et</p>
            </div>
            <div class="col-2">
                <div class="fas fa-arrow-right arrowOptions positionFunc iconOptions ">
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="boslukFunc">
            </div>
        </div>
    </div>
    <div class="FrameFunc">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-book-open positionFunc iconOptions" style="color: #130F40;"></i>
            </div>
            <div class="col-8">
                <p class="titleOptions">Eğitim Düzeyini Seç</p>
            </div>
            <div class="col-2">
                <div class="fas fa-chevron-down arrowOptions positionFunc iconOptions ">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="boslukFunc">
            </div>
        </div>
    </div>
    <div class="FrameFunc">
        <div class="row">
            <div class="col-2">
                <i class="fas fa-question positionFunc iconOptions" style="color: #27AE60;;"></i>
            </div>
            <div class="col-8">
                <p class="titleOptions">Yardım</p>
            </div>
            <div class="col-2">
                <div class="fas fa-chevron-down arrowOptions positionFunc iconOptions ">
                </div>
            </div>
        </div>
    </div>
</div>