<div class="row">
    <div class="col-12" style="padding: 0px;">
        <div style="width: 100%; height: 48px; margin-bottom: 8px; background-color: #34495E; ">
            <div
                style="height: 48px; width: 48px; line-height: 48px; text-align: center; display: inline-block; font-size: 24px;">
                <i class="fas fa-award" style="color: #F1C40F;"></i>
            </div>
            <div
                style="line-height: 48px; height: 48px; text-align: center; display: inline-block; font-size: 12px; width: calc(100% - 96px);">
                <p class="titleOptions">Premium</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4" style="padding:0px;">
        <div
            style="background-color: #0ABDE3; margin-top: 50px; height: 150px; width: 32%px; border: 2px;border-radius: 5px; border-color: #34495E;border-style: solid;">
            <i class="fas fa-tag" style="color: #F1C40F;padding-top: 5px; padding-left: 35%; font-size: 30px;"></i>
            <p style="color:white ; padding-top: 30px;font-size: 25px;text-align: center;">1 Aylık Üyelik</p>
        </div>
    </div>
    <div class="col-4" style="padding: 0px;">
        <div
            style="background-color: #0ABDE3; margin-top: 50px; height: 150px; width: 32%px; border: 2px;border-radius: 5px; border-color: #34495E;border-style: solid;">

            <i class="fas fa-tags" style="color: #F1C40F;padding-top: 5px; padding-left: 35%; font-size: 30px;"></i>
            <p style="color:white ; padding-top: 30px;font-size: 25px;text-align: center;">3 Aylık Üyelik</p>
        </div>
    </div>
    <div class="col-4" style="padding: 0px;">
        <div
            style="background-color: #0ABDE3; margin-top: 50px; height: 150px; width: 32%px; border: 2px;border-radius: 5px; border-color: #34495E;border-style: solid;">
            <i class="fas fa-gem" style="color: #F1C40F; padding-top: 5px; padding-left: 35%; font-size: 30px;"></i>
            <p style="color:white ; padding-top: 30px;font-size: 25px;text-align: center;">1 Yıllık Üyelik</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4" style="padding: 0px;">
        <p style="text-align: center; color: white; font-size: 20px;">Miktar ₺</p>
    </div>
    <div class="col-4" style="padding: 0px;">
        <p style="text-align: center; color: white; font-size: 20px;">Miktar ₺</p>
    </div>
    <div class="col-4" style="padding: 0px;">
        <p style="text-align: center; color: white; font-size: 20px;">Miktar ₺</p>
    </div>
</div>
<div class="row">
    <div class="col-12" style="margin-top: 30px;">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-left: -12px;
        margin-right: -12px;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Example headline.</h1>
                  <p>Some representative placeholder content for the first slide of the carousel.</p>
                 
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Some representative placeholder content for the second slide of the carousel.</p>             
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      
              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>One more for good measure.</h1>
                  <p>Some representative placeholder content for the third slide of this carousel.</p>
                  
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
