<div class="row">



    <div *ngFor="let button of list" style="width: 100%; height: 48px; margin-bottom: 8px; background-color: #34495E; ">
        <!-- <div
                style="height: 48px; width: 48px; line-height: 48px; text-align: center; display: inline-block; font-size: 24px;">
                <i [class]="button.icon" [ngStyle]="{'color':button.iconColor}"></i>
            </div> -->
        <div
            style="font-size: 20px; text-align: center; padding-top:5PX     ;">
            <p class="titleLessons">{{button.title}}</p>
        </div>
        <!-- <div
                style="height: 48px; width: 48px; line-height: 48px; text-align: center; display: inline-block; font-size: 24px;">
                <i *ngIf="button.arrow" class="fas fa-chevron-right arrowOptions positionFunc iconOptions downl"></i>
            </div> -->
    </div>
</div>

<div class="row buton" >

    <div class="col-12">
        <div style="text-align: center;">
            <img style="max-height: 100%; max-width: 70%; position: relative; min-width: 100%; min-height: 100%;" src="https://i.ytimg.com/vi/mIu3VAmeSXE/hqdefault.jpg"></div>
        <button class="btn btn-primary" type="button">A</button>
        <button class="btn btn-primary" type="button">B</button>
        <button class="btn btn-primary" type="button">C</button>
        <button class="btn btn-primary" type="button">D</button>
        <button class="btn btn-primary" type="button">E</button>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center ">
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Geri</a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link">İleri</a>
            </li>
        </ul>
    </nav>
</div>