.carousel-item {
    height: 15rem;
    background: #777;
    color: white;
    position: relative;
  }

.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 5px;
    text-align: center;

  }
.carousel slide{
    width: 100%;
  }