<div class="row">

    <div class="col-12" style="padding: 0px; background-color: #475A6D;">
        <div>
            <div *ngFor="let button of list"
                style="width: 100%; height: 48px; margin-bottom: 8px; background-color: #34495E; display: inline-block;">
                <div
                    style="height: 48px; width: 48px; line-height: 48px; text-align: center; display: inline-block; font-size: 24px;">
                    <i [class]="button.icon" [ngStyle]="{'color':button.iconColor}"></i>
                </div>
                <div
                    style="line-height: 48px; height: 48px; text-align: center; display: inline-block; font-size: 12px; width: calc(100% - 96px);">
                    <p class="titleTopic">{{button.title}}</p>
                </div>
                <div
                    style="height: 48px; width: 48px; line-height: 48px; text-align: center; display: inline-block; font-size: 24px;">


                    <i *ngIf="button.arrow" class="fas fa-chevron-down arrowOptions positionFunc iconOptions downc"
                        (click)="expand(button.ID)"></i>

                </div>

                <div *ngIf=" aktifKonuID == button.ID">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-left: -12px;
    margin-right: -12px; ">

                        <div class="carousel-inner" >
                            <div class="carousel-item active" >
                                <svg class="bd-placeholder-img" width="100%" height="100%"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#637383" />
                                </svg>

                                <div class="container">
                                    
                                    <div class="carousel-caption " style="text-align: center; font-family: Fresca;">
                                        <div class="page1 ">
                                            <div>
                                                <i class="fas fa-caret-right" style="font-size: 15px; margin-top: 500px;padding-top: 20px; color: aliceblue;"></i>

                                                <h4 >TEST 1</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <svg class="bd-placeholder-img" width="100%" height="100%"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#637383" />
                                </svg>

                                <div class="container">
                                    <div class="carousel-caption">
                                        <button [routerLink] = "['/website/dersler/konular/testler']"><h4>TEST 2</h4></button> 
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <svg class="bd-placeholder-img" width="100%" height="100%"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#637383" />
                                </svg>

                                <div class="container">
                                    <div class="carousel-caption " style="text-align: center;">

                                        <h4>TEST 3</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="false"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>